<!DOCTYPE html>
<html>
<head>
    <title>Chat with AI</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <button id="new-chat-btn">New Chat</button>
    <div id="chat-windows-container"></div>
  
  <div id="chat-container">
      <div id="chat-output"></div>
      <form id="chat-form">
          <input type="text" id="user-input" placeholder="Ask me anything...">
          <button type="submit" id="submit-query">Send</button>
      </form>
      <!-- Loading animation container within the chat window -->
      <div id="loading" class="loading-container" style="display: none;">
          <div class="loader"></div>
      </div>
  </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
